<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Sample", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <% if current_user.admin? %>
            <%= content_tag :li, class: active_link("admin/home") do %>
              <%= link_to "Admin", admin_root_path %>
            <% end %>
          <% end %>
          <%= content_tag :li, class: active_link("dashboard/home") do %>
            <%= link_to "Dashboard", dashboard_root_path %>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <p class="navbar-text">Signed in as <%= current_user.email %> </p>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-default navbar-btn navbar-right" %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
